.main {
  width: 250px;
  height: calc(100vh - 56px);
  background: #212529;
  transition: 0.5s ease;
  transform: translateX(0px);
  color: white;
  padding: 1rem;
  overflow: auto;
}
.main::-webkit-scrollbar {
  width: 5px;
}
.main::-webkit-scrollbar-thumb {
  width: 5px;
  background: #0d6efd;
}
.main::-webkit-scrollbar-track {
  background-color: #f6f6f6;
}
.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person-image {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
  background: #fff;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.person-image img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  padding: 5px;
}
.sidebar-items ul {
  padding: 0 0.5rem;
}
.sidebar-items ul li {
  list-style: none;
  padding: 5px;
}
.sidebar-items ul li a {
  text-decoration: none;
  color: white;
}
.sidebar-items ul li a.active {
  width: 100%;
  background: #0d6efd;
  padding: 5px 15px;
}
